.auth {
	max-width: 320px;
	padding: 1rem 2rem;
	display: flex;
	flex-flow: column;
	height: 400px;

	h1 {
		text-align: center;
		color: #fff;
		font-size: 22px;
		margin-bottom: 4rem;
		text-transform: uppercase;
	}

	button {
		margin-top: 4rem;
	}

	.link {
		position: absolute;
		bottom: 1rem;
		left: 0;
		right: 0;
	}
}
