<div class="chats">
  <div class="chats__list">
    <a class="profile-link" href="/profile">Профиль</a>
    <div class="chats__search">
      {{{search}}}
    </div>
    {{#each messages}}
      <a class="chat__item">
        <div class="chat__avatar"></div>
        <div class="chat">
          <div class="chat__name">{{name}}</div>
          <div class="chat__text">{{message}}</div>
          <time class="chat__time">{{time}}</time>
        </div>
      </a>
    {{/each}}
  </div>
  <div class="chat__dialog">Выберите чат чтобы отправить сообщение</div>
</div>
