<div class='window {{container}}'>
	<h1>Создать аккаунт</h1>
	<form id='register-form' action='/chats'>
		{{#each fields}}
			{{{this}}}
		{{/each}}
		{{{button}}}
	</form>
	<a class='link' href='/'>Есть аккаунт? <b>Войти</b></a>
</div>