<a class="chat__item">
	<div class="chat__avatar"></div>
	<div class="chat">
		<div class="chat__name">{{title}}</div>
		<div class="chat__text">{{message}}</div>
		{{#if unread_count}}
		<span class="count">{{unread_count}}</span>
		{{/if}}
		<time class="chat__time">{{time}}</time>
	</div>
</a>
