<div class="profile__sidebar">
  <a class="profile__sidebar-link" href="/chats">{{link}}</a>
</div>
{{{avatar}}}
<div class="name">{{profileData.firstName.text}}</div>
<dl class="list">
  {{{form}}}
</dl>
<div class="links">
  <a class="link" href="">Изменить данные</a>
  <a class="link" href="/change-password">Изменить пароль</a>
  <a class="link" href="/">Выйти</a>
</div>