@import '../../vars.scss';

.server-error {
	h1 {
		color: $textColor;
		text-align: center;
		font-size: 3rem;
		margin: 0;
	}

	p {
		color: $textColor;
		margin: 1rem 0;
	}

	a {
		color: $linkColor;
		text-decoration: none;
		text-align: center;
		display: block;
	}
}
