<div class='top-bar'>
	<div class='user'>
		<div class='avatar'></div>
		<span>Анатолий Александрович</span>
	</div>
	<div class='three-dots'>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<div class='main-window'>
	<span class='date'>11.07.2022</span>
	<div class='messages'>
		{{#each messages}}
			<div class='message message_{{who}}'><p>{{messageText}}</p><span
				>{{messageTimestamp}}</span></div>
		{{/each}}
	</div>
	<div class='bottom-bar'>
		<span></span>
		<textarea class='entry-area'></textarea>
		<button class='send'></button>
	</div>
</div>