$border-style: 2px solid rgb(218 218 218 / 50%);
$border-light: #cbd5e0;
$link-color: #889fe7;
$text-color-grey: #acacac;
$button-color: #b3b3b3;
$text-color-dark: #363636;
$bg-color-dark: #353535;
$bg-color-light: #fff;
$bg-color-black: #000;
$text-color-light: #fff;
$bg-color-hover: #eee;
$bg-chat-message: #387419;
$bg-my-chat-message: #2e04b2;
