$borderStyle: 2px solid rgba(218, 218, 218, 0.5);
$borderLight: #cbd5e0;
$linkColor: #889fe7;
$textColorGrey: #acacac;
$btnColor: #b3b3b3;
$textColorDark: #363636;
$bgColorDark: #353535;
$bgColorLight: #fff;
$bgColorBlack: #000;
$textColorLight: #fff;
$bgColorHover: #eee;
