@import "../../scss/vars";

.page-not-found {
  .page__title {
    font-size: 120px;
    color: $textColorGrey;
    margin: 0 0 1rem;
  }

  .page__subtitle {
    color: $textColorGrey;
    font-weight: 300;
    font-size: 20px;
  }

  .page__link {
    color: $linkColor;
    text-decoration: none;
  }
}
